body {
  background-color: whitesmoke;
}
.plans {
  text-align: center;
}
.frontpage {
  border: 2px solid;
  margin: 5% 10% 0 10%;
  padding: 5px;
  width: 75%;
  height: 550px;
  overflow-x: auto;
  text-align: center;
}
.sitename {
  font-size: 75px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 2em;
  background-color: rgb(54, 94, 227);
  color: white;
}
.navbar a {
  text-decoration: none;
  color: rgb(54, 94, 227);
  font-weight: bold;
  margin-left: 1em;
  background-color: white;
  border: 3px solid white;
  border-radius: 20%;
}
.title {
  Text-align: center;
  font-size: 300%;
}
.recipes {
  float: left;
  padding: 2%;
  margin: 2%;
}
.barlinks:hover {
  opacity: 0.5;
  font-family: Helvetica;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  font-size: 30px;
}

.meals {
  box-sizing: border-box;
  background-color: aqua;
  border: 6px solid; 
  padding: 8%;
  margin:2% 37% 0 37%;
}
.createdmeals {
  box-sizing: border-box;
  max-width: 20%;
  background-color: purple;
  float: left;
  border: 5px solid; 
  padding: 2%;
  margin: 2% 2% 0 2%;
}
ul {
  list-style: none;
}

