body {
  background-color: whitesmoke;
}
.font-face-gm {
  font-family: "Antic-Regular";
}
.plans, .recipetitle {
  text-align: center;
}
.frontpage, .recipepage {
  border: 2px solid;
  margin: 5% 10% 0 10%;
  padding: 10px;
  width: 80%;
  height: 550px;
  overflow-x: auto;
  text-align: center;
}
.recipepage {
  margin: 5% 8% 0 8%;
  width: 85%; 
}
.sitename {
  font-size: 75px;
  font-family: ;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 2em;
  background-color: rgb(54, 94, 227);
  color: white;
}
.navbar a {
  text-decoration: none;
  color: rgb(54, 94, 227);
  font-weight: bold;
  margin-left: 1em;
  background-color: white;
  border: 3px solid white;
  border-radius: 20%;
}
.title {
  Text-align: center;
  font-size: 300%;
}
.recipes {
  float: left;
  padding: 2%;
  margin: 2%;
}

.recipeform {
  display: grid;
  justify-content: center;
  width: 100;
}
.barlinks:hover {
  opacity: 0.5;
  font-family: Helvetica;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  font-size: 30px;
}
.labelform {
 text-align: center;
}

#name {
  display: flex;
  justify-content: center;
}

.meals {
  box-sizing: border-box;
  background-color: white;
  border: 6px solid; 
  padding: 5%;
  margin: 2% 40% 0 40%;
}

#breakfast, #lunch, #dinner, #url {
  margin-bottom: 5%;
}

.mealsubmit {
  margin-top: 10%;
  margin-bottom: -90px;
}
.createdmeals {
  box-sizing: border-box;
  max-width: 20%;
  background-color: rgb(54, 94, 227);
  color: white;
  float: left;
  border: 5px solid black; 
  padding: 2%;
  margin: 2% 2% 0 2%;
}

select {
  width: 100%;
}

ul {
  list-style: none;
}

