body {
  background-color: whitesmoke;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  min-height: 2em;
  background-color: black;
  color: white;
}

img {
  max-width: 10%;
  height: auto;
}

.meals {
  box-sizing: border-box;
  max-width: 25%;
  justify-content: Center;
  float: left;
  background-color: aqua;
  border: 10px solid; 
  padding: 13%;
  margin: 2%;
}